<!DOCTYPE html>
<!--Comentariu -->
<html lang="ro">
    <head>
            <%- include("../fragmente/head.ejs") %> <!-- copiaza caracter cu caracter continutul fisierului-->
            <meta name="keywords" content=" fashion, rochii, casual, eleganta, moda, stil, confort, gama, garderoba, piese versatile, rochie dama, rochie seara, rochie cocktail, rochie scurta, rochie lunga, eveniment, limited edition, transport la domiciliu, Bucuresti, Romania"><!--cuvintele cheie ale paginii; majoritatea motoarelor de căutare ignoră keywords -->
            <meta name="description" content="Chic Boutique se distinge prin oferirea unor modele exclusive de rochii, proiectate pentru femeia moderna si eleganta. 
                                              Fiecare piesa imbina confortul si stilul intr-un design unic ce pune in valoare frumusetea celor care le poarta. 
                                              Este destinatia perfecta pentru a descoperi eleganta si originalitatea. "><!-- descrierea paginii, adesea apare sub link când sunt afișate rezultatele căutării -->
            <title>Chic Boutique</title>
    </head>
    <body>
        <%- include("../fragmente/header.ejs") %>
            <main>
                <div id="grid-pagina">
            
                    <section id = "welcome">
                                <h2>Bine ati venit!</h2>
                    
                                <img src="./resurse/imagini/f1.jpg" alt="imagine rochie" class = "rochie "style="margin-left: 37px;"/>
                                <div id="prezentare">
                                    <figure>
                                        <picture>
                                            <!-- il ia pe primul care se potriveste cu query-ul din media-->
                                            <source srcset="./resurse/imagini/f6.jpg" media="(max-width:700px)"/>
                                            <source srcset="./resurse/imagini/f5.jpg" media="(max-width:1200px)"/>
                                            <img src="resurse/imagini/f3.jpg" alt="text" title="Boutique"/>
                                        </picture>
                                        <figcaption>Fashion</figcaption>
                                    </figure>
                                </div>
                                <a href = "http://www.google.com" target = "_blank"> Google </a>
                                <p style = "color:purple; text-decoration: underline;">Va multumim ca ne vizitati site-ul!</p>
                                <p>Această pagină vă urează un călduros bun venit în universul nostru, unde pasiunea pentru modă se îmbină cu cele mai recente tendințe. Aici veți descoperi nu doar produsele noastre, ci și o sursă de inspirație pentru stilul dumneavoastră unic. Ne mândrim cu produsele noastre de <b>calitate</b>, <b>eleganță</b> și <b>stil</b>, reflectând cele mai recente tendințe din industria modei. Descoperiți colecțiile noastre variate și bucurați-vă de o experiență de shopping unică!</p>
                    </section>
                    
                    <section id = "promotii">
                        <h2>Promotii</h2>
                        <article>
                            <h3 class="titlu">Super ofertă de primavara!</h3>
                            <p><abbr title = "Chic Boutique"> CB </abbr> ofera <b>reduceri de <s>10%</s> <ins> 20% </ins></b> in perioada <b>1-8 Martie</b>!</p>  
                            <p>Rămâneți conectați pentru a descoperi cele mai atractive promoții ale sezonului! Fie că este vorba de reduceri semnificative sau de oferte limitate, aceasta este pagina unde veți găsi oportunități de a vă îmbogăți garderoba cu piese de excepție la prețuri avantajoase. Aici găsiți produse cu prețuri avantajoase, fără a compromite calitatea sau stilul!</p>
                            <p>Profitați de transportul gratuit și descoperiți cele mai recente produse din colecțiile noastre la prețuri reduse!</p> 
                        </article>
                        
                    </section>
                    
                    <section id = "calcul_pret">
                        <section>
                            <h2>Calcul reducere preț</h2>
                            <p>Pretul final al unei rochii cu pretul initial P si reducerea X:</p>
                            <!--Comentariu 
                                <mi> - indentificatori
                                <mo> - operatori
                                <mn> - constante numerice
                                <mrow> - subexpresii matematice
                                xmlns - namespace-ul xml 
                            -->
                            <math xmlns="http://www.w3.org/1998/Math/MathML" display="block">
                                <mrow>
                                    
                                    <mi>P</mi>
                                    <mo>=</mo>
                                    <mi>P</mi>
                                    <mo>-</mo>
                                    <mfrac>
                                        <mn>X</mn>
                                        <mn>100</mn>
                                    </mfrac>
                                    <mo>&#x00D7;</mo>
                                    <mi>P</mi>    
                                    
                                    
                                </mrow>
                            </math>
                            <p>Prețul final al rochiei de $100 (initial) după aplicarea reducerii de 20% va fi:</p>
                            <math xmlns="http://www.w3.org/1998/Math/MathML" display="block">
                                <mrow>
                                    <mi>P</mi>
                                    <mo>=</mo>
                                    <mn>100</mn>
                                    <mo>-</mo>
                                    <mfrac>
                                        <mn>20</mn>
                                        <mn>100</mn>
                                    </mfrac>
                                    <mo>&#x00D7;</mo>
                                    <mn>100</mn>
                                    <mo>=</mo>
                                    <mn>80</mn>
                                </mrow>
                            </math>
                            <p>Astfel, prețul final al rochiei după aplicarea reducerii de 20% va fi <b>$80</b>.</p>
                        </section>
                        
                        <section>
                            <h2>Calcul preț final cu reduceri și transport</h2>
                            <p>Să presupunem că aveți o rochie la prețul inițial de $120, iar pentru comenzile de peste $100, se ofera o reducere de 15%. <b>Costul de transport</b> este de $10.</p>
                            <p>Prețul final al rochiei după aplicarea reducerii și adăugarea taxei de transport va fi:</p>
                            <math xmlns="http://www.w3.org/1998/Math/MathML" display="block">
                                <mrow>
                                    <mi>P</mi>
                                    <mo>=</mo>
                                    <mi>P</mi>
                                    <mo>-</mo>
                                    <mfrac>
                                        <mn>15</mn>
                                        <mn>100</mn>
                                    </mfrac>
                                    <mo>&#x00D7;</mo>
                                    <mi>P</mi>
                                    <mo>+</mo>
                                    <mn>10</mn>
                                </mrow>
                            </math>
                            <p>Substituind valoarea lui P ($120) în formulă:</p>
                            <math xmlns="http://www.w3.org/1998/Math/MathML" display="block">
                                <mrow>
                                    <mi>P</mi>
                                    <mo>=</mo>
                                    <mn>120</mn>
                                    <mo>-</mo>
                                    <mfrac>
                                        <mn>15</mn>
                                        <mn>100</mn>
                                    </mfrac>
                                    <mo>&#x00D7;</mo>
                                    <mn>120</mn>
                                    <mo>+</mo>
                                    <mn>10</mn>
                                </mrow>
                            </math>
                            <p>Astfel, prețul final al rochiei după aplicarea reducerii de 15% și adăugarea taxei de transport va fi:</p>
                            <math xmlns="http://www.w3.org/1998/Math/MathML" display="block">
                                <mrow>
                                    <mi>P</mi>
                                    <mo>=</mo>
                                    <mn>120</mn>
                                    <mo>-</mo>
                                    <mfrac>
                                        <mn>15</mn>
                                        <mn>100</mn>
                                    </mfrac>
                                    <mo>&#x00D7;</mo>
                                    <mn>120</mn>
                                    <mo>+</mo>
                                    <mn>10</mn>
                                    <mo>=</mo>
                                    <mn>117</mn>
                                </mrow>
                            </math>
                            <p>Astfel, prețul final al rochiei după aplicarea reducerii de 15% și adăugarea taxei de transport va fi <b>$117</b>.</p>
                        </section>
                    </section>
    
                    <section id = "intrebari">
                        <h2>Intrebari frecvente</h2>
                            <details>
                                <summary>Dispuneti de transport la domiciliu?</summary>
                                    <p>Da, oferim servicii de transport la domiciliu pentru clienții noștri. Ne puteți furniza adresa de livrare și vom asigura ca rochia dorită să ajungă în siguranță la dumneavoastră.</p>
                            </details> 
                            <details>
                                <summary>Care este timpul de livrare estimat pentru comenzile online?</summary>
                                    <p>Timpul de livrare estimat poate varia în funcție de destinație și de opțiunile de livrare selectate. De obicei, încercăm să expediem comenzile în termen de 1-3 zile lucrătoare, iar apoi timpul de tranzit poate varia între 2 și 7 zile lucrătoare, în funcție de locație.</p>
                            </details> 
                            <details>
                                <summary>Ce se întâmplă dacă rochia nu se potrivește sau nu este pe placul meu?</summary>
                                    <p>Înțelegem că pot exista situații în care rochia nu se potrivește sau nu corespunde așteptărilor dumneavoastră. Avem o politică de returnare flexibilă. Vă rugăm să ne contactați în termen de 10 zile de la primirea comenzii și vă vom oferi informații detaliate privind procesul de returnare și schimb.</p>
                            </details> 
                            <details>
                                <summary>Oferiți posibilitatea de personalizare a rochiilor?</summary>
                                    <p>Da, avem opțiuni de personalizare disponibile pentru unele dintre rochiile noastre. Vă rugăm să ne contactați pentru a discuta despre cerințele dvs. specifice și vom face tot posibilul să vă oferim o rochie unică și personalizată.</p>
                            </details> 
                            <details>
                                <summary>Aveți un sistem de fidelizare a clienților?</summary>
                                    <p>Da, avem un program de loialitate pentru clienții noștri fideli. Prin intermediul acestui program, veți avea acces la diferite beneficii și reduceri pe măsură ce continuați să faceți achiziții de la noi. Pentru mai multe informații, vă rugăm să ne contactați sau să vizitați magazinul nostru online.</p>
                            </details> 
                            <details>
                                <summary>Aveți rochii disponibile pentru închiriere pentru evenimente speciale?</summary>
                                    <p>În prezent, nu oferim servicii de închiriere pentru rochii. Cu toate acestea, avem o varietate largă de rochii disponibile pentru achiziție, perfecte pentru orice eveniment special.</p>
                            </details> 
                    </section>
    
                    <div class="table-containter">
                        <h2>Orar</h2>
                        <table id="tab-orar">
                            <thead>
        
                                <tr>
                                    <th>Perioadă</th>
                                    <th>Zi</th>
                                    <th>Interval dimineata</th>
                                    <th>Pauza</th>
                                    <th>Interval seară</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td rowspan="5">Zile<br/>Lucrătoare</td>
                                    <td>Luni</td>
                                    <td>8-12</td>
                                    <td>12-14</td>
                                    <td>14-21</td>
                                </tr>
                                <tr>
                                    <td>Marti</td>
                                    <td>8-12</td>
                                    <td>12-14</td>
                                    <td>14-21</td>
                                </tr>
                                <tr>
                                    
                                    
                                    <td>Miercuri</td>
                                    <td>8-12</td>
                                    <td>12-14</td>
                                    <td>14-21</td>
                                </tr>
                                <tr>
                                  
                                    
                                    <td>Joi</td>
                                    <td>8-12</td>
                                    <td>12-14</td>
                                    <td>14-21</td>
                                </tr>
                                <tr>
                                  
                                    
                                    <td>Vineri</td>
                                    <td>8-12</td>
                                    <td>12-14</td>
                                    <td>14-21</td>
                                </tr>
                                <tr>
                                   
                                    <td rowspan="2">Weekend</td>
                                    <td>Sambata</td>
                                    <td>10-14</td>
                                    <td>-</td>
                                    <td>Inchis</td>
                                </tr>
                                <tr>
                            
                                    <td>Duminica</td>
                                    <td>10-14</td>
                                    <td>-</td>
                                    <td>Inchis</td>
                                </tr>
                            </tbody> 
                            <tfoot><tr><td colspan="6"></br>Închis cu ocazia sărbătorilor legale!</td></tr></tfoot>
                        </table> 
                    </div>
    
                    <figure id="fig1" class="fg-img">
                        <img class="sale" src="resurse/imagini/sale.jpg" alt="promo" width="560px">
                        <figcaption>Sale</figcaption>
                    </figure>
    
                    <figure id="fig2" class="fg-img">
                        <img class="promo" src="resurse/imagini/sal2.jpg" alt="promo" width="560px">
                        <figcaption>Soon</figcaption>
                    </figure>
    
                </div>
    
                <section id = "rochii_zi">
                    <h2>Rochii de zi:</h2>
                    <section>
                        <p>Explorați colecția noastră de rochii de zi, perfecte pentru birou, o ieșire casual sau pentru activitățile zilnice. Designuri confortabile și versatile care vă vor îmbogăți garderoba de zi cu zi. Alege dintr-o varietate de modele, de la rochii lejere din bumbac la rochii vaporoase cu imprimeuri trendy. Indiferent de preferințele tale, vei găsi rochia perfectă pentru a-ți completa ținuta de zi cu zi, aducând un plus de eleganță și rafinament.</p>
                        <h3> <em> Smart & Simple! </em></h3>
                        <div>
                            <img src="./resurse/imagini/rochii_zi/p8.jpg" alt="imagine rochie" style="width: 200px; height: 300px; margin-right: 10px;">
                            <img src="./resurse/imagini/rochii_zi/p2.jpg" alt="imagine rochie" style="width: 200px; height: 300px; margin-right: 10px;">
                            <img src="./resurse/imagini/rochii_zi/p6.jpg" alt="imagine rochie" style="width: 200px; height: 300px; margin-right: 10px;">
                            <img src="./resurse/imagini/rochii_zi/p7.jpg" alt="imagine rochie" style="width: 200px; height: 300px;">
                        </div>
                    </section>
                </section>
                
                <section id = "rochii_seara">
                    <h2>Rochii de seara:</h2>
                    <section>
                        <p>Descoperiți rochiile de seară care vă transformă apariția într-un moment de neuitat. Fie că aveți nevoie de eleganță clasică sau de un design îndrăzneț, aici veți găsi piesa perfectă pentru orice ocazie specială.</p>
                        <h3> <em> Classy & Trendy! </em></h3>
                        <div>
                            <img src="./resurse/imagini/rochii_seara/p4.jpg" alt="imagine rochie" style="width: 200px; height: 300px; margin-right: 10px;">
                            <img src="./resurse/imagini/rochii_seara/p2.jpg" alt="imagine rochie" style="width: 200px; height: 300px; margin-right: 10px;">
                            <img src="./resurse/imagini/rochii_seara/p3.jpg" alt="imagine rochie" style="width: 200px; height: 300px; margin-right: 10px;">
                            <img src="./resurse/imagini/rochii_seara/p5.jpg" alt="imagine rochie" style="width: 200px; height: 300px; margin-right: 10px;">
                            <img src="./resurse/imagini/rochii_seara/p6.jpg" alt="imagine rochie" style="width: 200px; height: 300px;">
                        </div>
                    </section>
                </section>
    
                <section id = "cocktail_party">
                    <h2>Cocktail & Party:</h2>
                    <section>
                        <p>Găsiți rochia ideală pentru petreceri și evenimente cocktail. O gamă variată de stiluri care vă pun în valoare silueta și personalitatea, asigurându-vă că veți străluci la orice eveniment.</p>
                        <h3> <em> Pink & Nude! </em></h3>
                        <div>
                            <img src="./resurse/imagini/rochii_scurte/p2.jpg" alt="imagine rochie" style="width: 150px; height: 200px; margin-right: 10px;">
                            <img src="./resurse/imagini/rochii_scurte/p3.jpg" alt="imagine rochie" style="width: 150px; height: 200px; margin-right: 10px;">
                            <img src="./resurse/imagini/rochii_scurte/p5.jpg" alt="imagine rochie" style="width: 150px; height: 200px; margin-right: 10px;">
                            <img src="./resurse/imagini/rochii_scurte/p10.jpg" alt="imagine rochie" style="width: 150px; height: 200px; margin-right: 10px;">
                            <img src="./resurse/imagini/rochii_scurte/p6.jpg" alt="imagine rochie" style="width: 150px; height: 200px; margin-right: 10px;">
                            <img src="./resurse/imagini/rochii_scurte/p8.jpg" alt="imagine rochie" style="width: 150px; height: 200px;">
                        </div>
            
                    </section>
                </section>
                
                <section id = "rochii_mini">
                    <h2>Rochii mini:</h2>
                    <section>
                        <p>Navigați prin selecția noastră de rochii mini, ideale pentru zilele calde de vară sau pentru o ieșire în oraș. De la stiluri jucause la cele mai elegante, avem opțiuni pentru fiecare gust.</p>
                        <h3> <em> Black & White! </em></h3>
                        <div>
                            <img src="./resurse/imagini/rochii_cocktail/p7.jpg" alt="imagine rochie" style="width: 150px; height: 200px; margin-right: 10px;">
                            <img src="./resurse/imagini/rochii_cocktail/p5.jpg" alt="imagine rochie" style="width: 150px; height: 200px; margin-right: 10px;">
                            <img src="./resurse/imagini/rochii_cocktail/p4.jpg" alt="imagine rochie" style="width: 150px; height: 200px; margin-right: 10px;">
                            <img src="./resurse/imagini/rochii_cocktail//p2.jpg" alt="imagine rochie" style="width: 150px; height: 200px; margin-right: 10px;">
                            <img src="./resurse/imagini/rochii_cocktail//p8.jpg" alt="imagine rochie" style="width: 150px; height: 200px; margin-right: 10px;">
                            <img src="./resurse/imagini/rochii_cocktail//p6.jpg" alt="imagine rochie" style="width: 150px; height: 200px;">
                        </div>
                    </section>
                </section>
    
                <section id = "rochii_medium">
                    <h2>Rochii medium:</h2>
                    <section>
                        <p>Colecția noastră de rochii medium oferă echilibrul perfect între confort și stil. Potrivite pentru orice moment al zilei, aceste rochii vă vor completa garderoba cu eleganță și versatilitate.</p>
                        <h3> <em> Moderate & Fahionable! </em></h3>
                        <div>
                            <img src="./resurse/imagini/rochii_medium/p5.jpg" alt="imagine rochie" style="width: 150px; height: 250px; margin-right: 10px;">
                            <img src="./resurse/imagini/rochii_medium/p2.jpg" alt="imagine rochie" style="width: 150px; height: 250px; margin-right: 10px;">
                            <img src="./resurse/imagini/rochii_medium/p3.jpg" alt="imagine rochie" style="width: 150px; height: 250px; margin-right: 10px;">
                            <img src="./resurse/imagini/rochii_medium/p4.jpg" alt="imagine rochie" style="width: 150px; height: 250px;">
                        </div>
                    </section>
                </section>
    
                <section id = "rochii_lungi">
                    <h2>Rochii lungi:</h2>
                    <section>
                        <p>Descoperiți eleganța atemporală a rochiilor lungi. Fie că sunt pentru evenimente formale sau plimbări pe plajă la apus, rochiile noastre lungi sunt alegerea perfectă pentru a adăuga o notă de grație oricărei ocazii.</p>
                        <h3> <em> Long & Elegant! </em></h3>
                        <div>
                            <img src="./resurse/imagini/rochii_lungi/p2.jpg" alt="imagine rochie" style="width: 150px; height: 250px; margin-right: 10px;">
                            <img src="./resurse/imagini/rochii_lungi/p3.jpg" alt="imagine rochie" style="width: 150px; height: 250px; margin-right: 10px;">
                            <img src="./resurse/imagini/rochii_lungi/p4.jpg" alt="imagine rochie" style="width: 150px; height: 250px; margin-right: 10px;">
                            <img src="./resurse/imagini/rochii_lungi/p5.jpg" alt="imagine rochie" style="width: 150px; height: 250px;">
                        </div>
                    </section>
                </section>
    
                <section id = "event">
                    <h2>Event:</h2>
                    <section>
                        <h3> <em> Produse de inalta calitate! </em></h3>
                        <p>Colecția Event este dedicată momentelor speciale din viața dumneavoastră. De la nunți la gala, aici veți găsi rochii care să vă asigure că veți fi în centrul atenției, indiferent de eveniment.</p>
                    </section>
                </section>
    
                <section id = "office">
                    <h2>Office:</h2>
                    <section>
                        <h3> <em> Produse de inalta calitate! </em></h3>
                        <p>Colecția Office oferă soluții elegante și confortabile pentru garderoba de birou. Descoperiți piese care combină profesionalismul cu stilul, asigurându-vă că sunteți pregătită pentru orice zi de lucru.</p>
                    </section>
                </section>
    
                <section id = "urban_street">
                    <h2>Urban street:</h2>
                    <section>
                        <h3> <em> Produse de inalta calitate! </em></h3>
                        <p>Inspirată de dinamismul vieții urbane, colecția Urban Street aduce un suflu nou garderobei dumneavoastră zilnice. Piese versatile și confortabile, perfecte pentru explorarea orașului.</p>
                    </section>
                </section>
    
                <section id = "city_chic">
                    <h2>City chic:</h2>
                    <section>
                        <h3> <em> Produse de inalta calitate! </em></h3>
                        <p>City Chic este colecția pentru femeia modernă, care îmbină eleganța urbană cu tendințele actuale. Găsiți ținute care vorbesc despre sofisticare și un stil de viață activ, menite să vă scoată în evidență în orice context urban.</p>
                    </section>
                </section>
    
                <section id = "limited_edition">
                    <h2>Limited edition:</h2>
                        <p>Colecția <q>Limited Edition</q> este esența exclusivității și inovației, o celebrare a măiestriei artizanale îmbinată cu viziunea avangardistă a designului de modă. Această colecție reprezintă apogeul creativității noastre, fiecare piesă fiind rezultatul unei atenții meticuloase la detalii și al unei pasiuni neclintite pentru frumos și unic.</p>
                        <p> <strong> Disponibile doar pentru o perioadă limitată de timp! </strong></p>
                    <div class = "container-iframe">
                        <div class="taburi-iframe">
                            <a href="https://www.youtube.com/embed/gJpXlRkW6Fw" target="ifr-video">Summer Collection</a>
                            <a href="https://www.youtube.com/embed/YZW8RwJunG0" target="ifr-video" >City chic Collection</a>
                            <a href="https://www.youtube.com/embed/0HLSVb908cA" target="ifr-video" >Event Collection</a>
                        </div>
    
                        <iframe name="ifr-video" width="560" height="315" src="https://www.youtube.com/embed/gJpXlRkW6Fw?si=Y258vgBU7jFCIvcF" 
                        title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; 
                        picture-in-picture; web-share" allowfullscreen></iframe>
                    </div>
                </section>
            
            </main>
        <%- include("../fragmente/footer.ejs") %>
        <div class="watermark">
            <div>Cucu</div>
            <div>Iulia-Maria</div>
        </div>
        </body>
    </html>



