html{
    font-size: 18px;
    --culoare1:rgb(234, 196, 202); 
    --culoare2:rgb(165, 49, 70);
    --culoare3:rgb(154, 80, 146);
    --culoare4:rgb(228, 91, 196);
    --culoare5:white;
    --culoare6:black;
    --culoare7: rgb(168, 123, 151);
}

@media screen and (min-width: 900px){
        #galerie-statica{
            padding-left:var(--padding-intern);
            padding-right:var(--padding-intern);
        }
        
        #grid-galerie {
        display:grid;
        grid-template-columns: repeat(3,1fr); 
        grid-row-gap:2em;
        grid-column-gap:2em;
        counter-reset: nrimag 0; /* reseteaza contorul */
        margin-bottom: 25px;
        }

        #grid-galerie figure {
            position: relative; /* Asigura pozitionarea relativa pentru a permite suprapunerea */
            z-index: 1;
        }

        #grid-galerie img{
            width: 100%;
            height: 100%;
            object-fit: cover;
            transition: transform 1.2s ease, border-width 1.2s ease; /* Tranzitia pentru scalare si latimea borderului */
        }

        #grid-galerie figure:hover img {
            transform: scale(1.25) rotate(-10deg); /* Scalare si rotatie pe hover */
            border: 4px solid var(--culoare2); /* Adauga border si mareste grosimea */
            z-index: 2;
        }

        #grid-galerie figcaption{
            text-align:center;
            counter-increment: nrimag 1; /* nrimag+=1 */
        }
        
        #grid-galerie figcaption::before{
            content: counter(nrimag, upper-roman) ")"; /*cifre romane*/
        }

        /* afisare corespunzatoare */

        #grid-galerie > figure:nth-child(1) {
            grid-area: 1/1/2/2; 
        }

        #grid-galerie > figure:nth-child(2) {
            grid-area: 1/2/2/3; 
        }

        #grid-galerie > figure:nth-child(3) {
            grid-area: 1/3/2/4; 
        }

        #grid-galerie > figure:nth-child(4) {
            grid-area: 2/1/3/2; 
        }

        #grid-galerie > figure:nth-child(5) {
            grid-area: 2/3/3/4; 
        }

        #grid-galerie > figure:nth-child(6) {
            grid-area: 3/1/4/2; 
        }

        #grid-galerie > figure:nth-child(7) {
            grid-area: 3/3/4/4; 
        }

        #grid-galerie > figure:nth-child(8) {
            grid-area: 4/1/5/2; 
        }

        #grid-galerie > figure:nth-child(9) {
            grid-area: 4/2/5/3; 
        }

        #grid-galerie > figure:nth-child(10) {
            grid-area: 4/3/5/4; 
        }
    
    }
@media screen and (min-width: 500px) and (max-width:900px){ /*ecran mediu*/
    #grid-galerie {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 20px;
    }
    #grid-galerie img{
        width: 100%;
        height: 100%;
       
    }
  }

  @media screen and (max-width:500px){ /*ecran mic*/
    #grid-galerie {
        display:block;
    }
  }